.reveal-viewport {
  background: #f0f0f0;
}
.reveal {
  color: #595959;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 36px;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #494949;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}
.reveal h1 {
  font-size: 2em;
}
.reveal h2 {
  font-size: 1.5em;
}
.reveal h3 {
  font-size: 1.25em;
}
.reveal h4 {
  font-size: 1em;
}

.reveal blockquote {
  border-left: 5px #ddd solid;
  text-align: left;
  padding-left: 20px;
  box-shadow: none;
}
.reveal blockquote > small {
  line-height: 1;
  vertical-align: baseline;
}
.reveal blockquote[cite] + small,
figcaption {
  font-size: 0.5em;
  font-style: italic;
}
.small {
  font-size: 0.5em;
}
.reveal pre {
  font-size: 0.5em;
}
h1.h2 {
  font-size: 2.5em;
}
.color-transparent {
  color: transparent;
}
p > img {
  vertical-align: middle;
}
code {
  background-color: #ddd;
  color: #e83e8c;
  font-size: 0.9em;
  padding: 0 3px;
}
li > ul {
  font-size: 0.8em !important;
}
.label {
  padding: 0 5px;
  font-size: 0.5em;
  background: #494949;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}
.label.flames {
  background: #000 url(http://bestanimations.com/Nature/Fire/Flames/Flame-14-june.gif) bottom center repeat-x;
}
.strike {
  text-decoration: line-through;
}

.d-flex {
  display: flex;
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
#img-profile {
  width: 250px;
  border-radius: 50%;
  background: #fff;
}
