.reveal-viewport {
  background: #f0f0f0;
}
.reveal blockquote {
  border-left: 5px #ddd solid;
  text-align: left;
  padding-left: 20px;
  box-shadow: none;
}
.reveal blockquote > small {
  line-height: 1;
  vertical-align: baseline;
}
.reveal blockquote[cite] + small,
figcaption {
  font-size: 0.5em;
  font-style: italic;
}
.small {
  font-size: 0.5em;
}
.reveal pre {
  font-size: 0.5em;
}
h1.h2 {
  font-size: 2.5em;
}
.color-transparent {
  color: transparent;
}
p > img {
  vertical-align: middle;
}
code {
  background-color: #ddd;
  color: #e83e8c;
  font-size: 0.9em;
}
li > ul {
  font-size: 0.8em !important;
}

.d-flex {
  display: flex;
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
